    <div class="video">
        <video autoplay muted loop id="myVideo">
        <source src="/img/1.mp4">
    </video>
    </div>
    <div class="container">
        <div class="form-area">
            <div class="form-text">
                <h1>Login Form</h1>
                <div class="input-one"><i class="fa fa-users"></i> <input type="text" placeholder="username">
                </div>
                <div class="input-one"><i class="fa fa-unlock-alt"></i> <input type="password" placeholder="Password">
                </div>
                <div class="input-one"><i class="fa fa-unlock-alt"></i> <input type="password" placeholder="confirm password">
                </div>
                <button class="loginbtn">Login</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>