 <div class="video">
        <video autoplay muted loop id="myVideo">
        <source  src="/img/main.mp4" type="video/mp4">
    </video>
    </div>
    <div class="container">
        <div class="form-area">
            <form class="login-form">
                <div class="form-text">
                    <h1>Login Form</h1>
                    <div class="input-one"> <input type="text" placeholder="Username" id="username-login">
                    </div>
                    <div class="input-one"></i> <input type="password" placeholder="Password" id="password-login">
                    </div>
                    <button class="loginbtn" type="submit">Login</button>
                </div>
            </form>
        <div class="form-text">
            <a href="/signup"><button class="signupbtn" type="submit">Sign Up</button></a> 
        </div>
        </div>
    </div>

    <script src="./js/login.js"></script>