 <div class="video">
        <video autoplay muted loop id="myVideo">
        <source  src="/img/main.mp4" type="video/mp4">
    </video>
    </div>
    <div class="container">
        <div class="form-area">
            <div class="form-text login-form">
                <h1>Login Form</h1>
                <div class="input-one"> <input type="text" placeholder="Username" id="username-login">
                </div>
                <div class="input-one"></i> <input type="password" placeholder="Password" id="password-login">
                </div>
                <div class="input-one"><input type="password" placeholder="confirm password">
                </div>
                <button class="loginbtn" type="submit">Login</button>
            </div>
        </div>
    </div>