<h1 class="profileh1"> My Profile</h1>
{{!-- <a href="/team">
    <img src="/img/My project.png" alt="logo" class="logo" width="300px" height="300px">
</a> --}}
<style>
    body {
        background-image: url('/img/backimg.jpg');
        background-repeat: no-repeat;

    }
</style>

<header>
    <nav>
        <ul class="nav-area nav-main">

            <li><a href="/team">Home</a></li>
            <li><a href="/about">About</a></li>
            <button class="btn-area" id="logout">Logout</button>

        </ul>
    </nav>
</header>
<h2 class="profileh2">Your Current Subscriptions!</h2>

<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="team">Currently subscribe to... </span>
        <h2>WARRIORS</h2>
        <p>The Golden State Warriors are an American professional basketball team based in San Francisco. The Warriors compete in the National Basketball Association, as a member of the league's Western Conference Pacific Division</p>
    </div>
</div>

<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="team">Currently subscribe to...</span>
        <h2>LAKERS</h2>
        <p>The Los Angeles Lakers are an American professional basketball team based in Los Angeles. The Lakers compete in the National Basketball Association as a member of the league's Western Conference Pacific Division.</p>
    </div>
</div>


<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="team">Currently subscribe to...</span>
        <h2>HEAT</h2>
        <p>The Miami Heat are an American professional basketball team based in Miami. The Heat compete in the National Basketball Association as a member of the league's Eastern Conference Southeast Division. The club plays its home games at FTX Arena, and has won three NBA championships.</p>
    </div>
</div>

<script src="./js/logout.js"></script>