 <h1 class="profileh1">Profile</h1>

    <div>
        <video autoplay muted loop id="myVideo">
            <source src="/img/profile.mp4" type="video/mp4">
        </video>
    </div>

    <header>
        <img src="" alt="" class="logo">
        <nav>
            <ul class="nav-area">

                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <!-- <li><a href="#">Profile</a></li> -->

            </ul>
        </nav>
    </header>

    <h2>Your Current Subscriptions!</h2>

    <div class="sub-card">
        <div class="card-image2"></div>
        <div class="card-text2">
            <span class="team2">NBA TEAM</span>
            <h2>WARRIORS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
        </div>
    </div>
