<h1 class="profileh1"> My Profile</h1>
{{!-- <a href="/team">
    <img src="/img/My project.png" alt="logo" class="logo" width="300px" height="300px">
</a> --}}
<style>
    body {
        background-image: url('/img/backimg.jpg');
        background-repeat: no-repeat;

    }
</style>

<header>
    <nav>
        <ul class="nav-area nav-main">

            <li><a href="/team">Home</a></li>
            <li><a href="#">About</a></li>
            <button class="btn-area" id="logout">Logout</button>

        </ul>
    </nav>
</header>
<h2 class="profileh2">Your Current Subscriptions!</h2>
{{!-- #each subscribe[i].teamSub --}}
{{#if subscribes.length}}
{{#each subscribes as |subscribe|}}
<div class="card">
    <div class="card-image"></div>

        <div class="card-text">
        <span class="team">NBA TEAM</span>
        <h2>{{subscribe.team_id}}</h2>
        </div>

    </div>
</div>
{{/each}}
{{/if}}

<script src="./js/logout.js"></script>