<h1 class="profileh1">Profile</h1>


<style>
body {
  background-image: url('/img/11.jpg');
   background-repeat: no-repeat;
     background-size: cover;

}
</style>

<header>
    <nav>
        <ul class="nav-area nav-main">

            <li><a href="/team">Home</a></li>
            <li><a href="/about">About</a></li>
            <button class="btn-area" id="logout">Logout</button>

        </ul>
    </nav>
</header>
<h2 class="profileh2">Your Current Subscriptions!</h2>

<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="team">NBA TEAM</span>
        <h2>WARRIORS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
    </div>
</div>

<script src="./js/logout.js"></script>