 <div class="video">
        <video autoplay muted loop id="myVideo">
        <source  src="/img/signupvideo.mp4" type="video/mp4">
    </video>
    </div>
    <div class="container">
        <form class="form-area signup-form">
            <div class="form-text">
                <h1>Signup Form</h1>
                <div class="input-one"> <input type="text" placeholder="Username" id="name-signup">
                </div>
                <div class="input-one"></i> <input type="email" placeholder="Email" id="email-signup">
                </div>
                <div class="input-one"></i> <input type="password" placeholder="Password" id="password-signup">
                </div>
                <button class="signupbtn" type="submit">Sign Up</button>
            </div>
        </form>
    </div>

    <script src="./js/signup.js"></script>