   <div class="main">
        <header>
            <img src="" alt="" class="logo">
            <nav>
                <ul class="nav-area">

                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Profile</a></li>

                </ul>
            </nav>
            {{!-- <a href="/login" class="btn-area" id="logout">Logout</a>  --}}
             <button class="btn-area" id="logout">Logout</button>
        </header>

        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="team">NBA TEAM</span>
                <h2>WARRIORS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
            </div>
            <div>
                <a href="#" class="sub"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly team news!</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="team">NBA TEAM</span>
                <h2>ROCKETS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
            </div>
            <div>
                <a href="#" class="sub"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly team news!</a>
            </div>

        </div>

        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="team">NBA TEAM</span>
                <h2>LAKERS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
            </div>
            <div>
                <a href="#" class="sub"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly team news!</a>
            </div>
        </div>

        <div class="card">
            <div class="card-image"></div>
            <div class="card-text">
                <span class="team">NBA TEAM</span>
                <h2>HEAT</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
            </div>
            <div>
                <a href="#" class="subscription"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly team news!</a>
            </div>
        </div>
    </div>

    <script src="./js/subscribe.js"></script>
    <script src="./js/logout.js"></script>
    