{{!-- <style>
    body {
        background-image: url('/img/court.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    } 
</style> --}}
<div class="main">
    <header>
        <a href="/">
        <img src="/img/My project.png" alt="logo" class="logo" width="300px" height="300px">
        </a>
        <nav>
            <ul class="nav-area">

                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/profile">Profile</a></li>

            </ul>
        </nav>
        {{!-- <a href="/login" class="btn-area" id="logout">Logout</a> --}}
        <button class="btn-area" id="logout">Logout</button>
    </header>

    <div class="card1">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="team">NBA TEAM</span>
            <h2>WARRIORS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
        </div>
        <div>
            <button class="sub" id="subscription"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly
                team news!</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="team">NBA TEAM</span>
            <h2>ROCKETS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
        </div>
        <div>
            <button class="sub" id="subscription"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly
                team news!</button>
        </div>

    </div>

    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="team">NBA TEAM</span>
            <h2>LAKERS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
        </div>
        <div>
            <button class="sub" id="subscription"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly
                team news!</button>
        </div>
    </div>

    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="team">NBA TEAM</span>
            <h2>HEAT</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus.</p>
        </div>
        <div>
            <button class="sub" id="subscription"><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly
                team news!</button>
        </div>
    </div>
</div>

<script src="./js/subscribe.js"></script>
<script src="./js/logout.js"></script>
