{{!-- <style>
    body {
        background-image: url('/img/court.jpg');
        background-repeat: no-repeat;
        background-size: cover;

    } 
</style> --}}
<div class="main">
    <header>
        <a href="/">
        <img src="/img/My project.png" alt="logo" class="logo" width="300px" height="300px">
        </a>
        <nav>
            <ul class="nav-area">

                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/profile">Profile</a></li>

            </ul>
        </nav>
        {{!-- <a href="/login" class="btn-area" id="logout">Logout</a> --}}
        <button class="btn-area" id="logout">Logout</button>
    </header>
{{#each teams as |team|}}
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="team">NBA TEAM</span>
            <h2>{{team.teamName}}</h2>
        </div>
        <div>
            
            {{!-- id = team.teamName--}}
            <button class="sub subscription" id={{team.id}}><i class="fa-solid fa-envelope-circle-check"></i>subscribe to weekly {{team.teamName}}
                team news!</button>
           
        </div>
    </div>
{{/each}}
   
</div>

<script src="./js/subscribe.js"></script>
<script src="./js/logout.js"></script>
