#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
    box-shadow: 0 0 20px 0 rgb(14, 181, 223);
    background: rgba(57, 62, 63, 0.3);
    padding: 40px;
    color: white;
    border-radius: 20px;
}

.form-text {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: x-large;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

.form-text h1 {
    text-align: center;
    margin: 35px 0;
    font-size: 42px;
    color: white;
}

.form-text input {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgb(14, 181, 223);
}

.form-text button {
    width: 350px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgb(14, 181, 223);
    color: rgb(0, 0, 0);
    font-size: 25px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    padding-top: 20px;
}

.logo {
    cursor: pointer;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: .3s;
    color: rgb(0, 0, 0);
    font-size: 15px;
    letter-spacing: 8px;
    font-family: 'Teko', sans-serif;
    color: white;
}

.nav-area li a:hover {
    color: rgb(14, 181, 223);
}

.btn-area {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(14, 181, 223);
    font-family: 'Teko', sans-serif;
}

.card {
    display: grid;
    font-family: 'Teko', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(67, 181, 216);
    text-align: center;
    margin: 2%;
    background-color: rgb(14, 181, 223);
    font-size: 23px;
    color: white;
    text-shadow: 20px rgb(0, 0, 0);
}

.main {
    background-color: black;
}

.sub {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(14, 181, 223);
    font-family: 'Teko', sans-serif;
}

.sub:hover {
    color: rgb(0, 0, 0);
}